body {
  width: 60%;
  margin: auto;
  font-family: Arial, "Helvetica Neue", "Helvetica, sans-serif";
}
header {
  border-bottom-color: #cccccc;
  background-color: #ffffff;
}

h1 {
  background-color: #4aaaa5;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  float: right;
}
#profPic {
  height: 200px;
  width: 200px;
  position: absolute;
}

#infoPar {
  position: absolute;
  margin-left: 25px;
}
